.cell {
    width: 30px;
    height: 30px;
    
    margin: 0px;
    padding: 0px;
    border: 0px;
  
    border: 1px solid;

   word-wrap: break-word;
   flex-wrap: nowrap;
   background-color: orange; /*con SASS despues puedo modificar el color de la cara*/
  }

  .front{
    background-color: brown;
 }

 .back{
    background-color: blue;
 }

 .top{
    background-color: green;
 }
 .bottom{
    background-color: yellow;
 }

 .right{
    background-color: pink;
 }

 .left{
    background-color: orangered;
 }

 #wrapper{
    width: 390px;
 }

  #wrapper> div {
    text-align: center;
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
    word-wrap: break-word;
 }


 .A1, .A2, .A3, .A4, .A5, .A9, .A10, .A11, .A12, .A13,
 .B1, .B2, .B3, .B4, .B5,  .B9, .B10, .B11, .B12, .B13,
 .C1, .C2, .C12, .C13,
 .D1, .D2, .D12, .D13,
 .E1, .E2, .E12, .E13,
 .I1, .I2, .I12, .I13,
 .J1, .J2, .J12, .J13,
 .K1, .K2, .K12, .K13,
 .L1, .L2, .L3, .L4, .L5, .L9, .L10, .L11, .L12, .L13,
 .M1, .M2, .M3, .M4, .M5, .M9, .M10, .M11, .M12, .M13,
 .A7, .G1, .M6, .M8, .M13 {
    background-color: black;
 }

