body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flex-container>div {
    align-self: center;
}

/*TIMER*/
#timer {
    font-size: 50px;
    margin: 0 auto;
}

#controls {
    margin: 0 auto;
}

#controls button {
    font-size: 15px;
}



/*CUBE*/
.container {
    transform: translate(-50%, -50%);
    margin-top: 150px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 2000px;
}


.box {
    transform-style: preserve-3d;
    position: absolute;
    width: 270px;
    height: 270px;
    animation: move 20s linear infinite;
    transition: all 1s ease-out;
}

.box div {
    width: 270px;
    height: 270px;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    background-size: 100%;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(270px/9), 1fr));
    gap: 0px;
    padding: 0px;
}


.cell {
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    word-wrap: break-word;
    flex-wrap: nowrap;
    background-color: orange;
}


.horizontal-line-bottom {
    border-bottom: 2px solid black;
}

.horizontal-line-top {
    border-top: 2px solid black;
}

.vertical-line-right {
    border-right: 2px solid black;
}

.vertical-line-left {
    border-left: 2px solid black;
}


.BlackFace {
    transform: translateZ(-135px) rotateX(180deg);
}

.Black {
    background-color: black;
}

.BlueFace {
    transform: translateZ(135px) rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}

.Blue {
    background-color: lightskyblue;
}

.OrangeFace {
    right: 135px;
    transform: rotateY(-90deg)rotateZ(180deg) rotate(180deg);
}

.Orange {
    background-color: orange;
}

.PinkFace {
    left: 135px;
    transform: rotateY(90deg) rotateZ(180deg) rotate(180deg);
}

.Pink {
    background-color: pink;
}

.GreenFace {
    bottom: 135px;
    transform: rotateX(90deg);
}

.Green {
    background-color: lightgreen;
}

.YellowFace {
    top: 135px;
    transform: rotateX(-90deg);
}

.Yellow {
    background-color: yellow
}

.valueToFind {
    color: #ddd;
    background-color: grey;
}

.valueGiven {
    font-weight: bold;
    color: black;
    pointer-events: none;
    /* to avoid selection*/

}


/* -- NUMBERS TO BE SELECTED ---*/
#selection {
    display: none;
}

#selection>.split {
    display: inline-flex;


}

#selection>span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    background-color: grey;
    color: #ddd;
    padding: 2px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    margin: 25px 0px;
}


#selection>span:hover {
    background: black;
}


/* LEADER BOARD SCORE*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

}

.modalContent {
    background-color: whitesmoke;
    margin: 5% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 5px 0 black;

}

#high-scores>span {
    font-size: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: crimson;


}

#closeBtn {
    display: flex;
    justify-content: end;
    font-size: 50px;
    font-weight: bold;
    color: gray
}

#closeBtn:hover,
#closeBtn:focus {
    color: black;
    cursor: pointer
}

#high-scores {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

section#game .score {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
}


section#game .start .high-scores {
    text-align: left;
}